.ntlv-svg-icon { width: 1em; height: 1em; }
.ntlv-svg-icon path, .ntlv-svg-icon polygon, .ntlv-svg-icon rect { fill: #4691f6; }
.ntlv-svg-icon circle { stroke: #4691f6; stroke-width: 1; }

textarea.netliva-comment-input { margin-right: -30px; z-index: 2; transition: all 500ms; font-size: 0.8rem; height: 35px; overflow: hidden; }
.netliva-comment-input:focus { margin-right: 5px; }
.netliva-send-comment-btn { margin: 3px 10px 3px 0; transition: all 500ms; }
.netliva-comment-input:focus + .netliva-send-comment-btn { margin: 0; }


/** Eski Yorum Yükle **/
.netliva-show-old-comments-btn:hover { color: inherit; background-color: rgba(200,200,200,.3); }
.netliva-show-old-comments-btn { font-size: 0.7rem; color: inherit; width: 100%; margin-bottom: 6px; }

/** LOADING **/
.netliva-lds-ring { display: inline-block; position: relative; width: 46px; height: 32px; }
.netliva-lds-ring div { box-sizing: border-box; display: block; position: absolute; width: 24px; height: 24px; margin: 4px; border: 4px solid #ccc; border-radius: 50%; animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; border-color: #ccc transparent transparent transparent; }
.netliva-lds-ring div:nth-child(1) { animation-delay: -0.45s; }
.netliva-lds-ring div:nth-child(2) { animation-delay: -0.3s; }
.netliva-lds-ring div:nth-child(3) { animation-delay: -0.15s; }
@keyframes lds-ring { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }


/** LOADING **/
.netliva-lds-blocks { display: inline-block; position: relative; width: 80px; height: 80px; }
.netliva-lds-blocks div { display: inline-block; position: absolute; left: 8px; width: 16px; background: #ccc; animation: netliva-lds-blocks 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }
.netliva-lds-blocks div:nth-child(1) { left: 8px; animation-delay: -0.24s; }
.netliva-lds-blocks div:nth-child(2) { left: 32px; animation-delay: -0.12s; }
.netliva-lds-blocks div:nth-child(3) { left: 56px; animation-delay: 0s; }
@keyframes netliva-lds-blocks { 0% { top: 8px; height: 64px; } 50%, 100% { top: 24px; height: 32px; }
}

/** Konuşma Balonu **/
.netliva-comments-area ul + .d-flex > .netliva-lds-ring { position: absolute; z-index: 3; }
.netliva-comments-area ul .netliva-lds-blocks { transform: scale(.5); margin: -30px auto; }

.netliva-comments-line { margin-bottom: 5px; }
.netliva-comments-line .netliva-comment-history { cursor: pointer; }
.netliva-comments-line p { background: rgba(30,30,30,0.2); padding: 5px 8px; border-radius: 5px; position: relative; font-size: 0.75rem; width: auto; display: inline-block; text-align: left; margin: 0; color:#222; }
.netliva-comments-line p:after { content: ""; position: absolute; border-width: 2px 10px 7px 0; border-color: transparent rgba(30,30,30,0.2) transparent transparent; border-style: solid; left: -10px; top: 5px; }
.netliva-comments-line p > strong { display: block; }
.netliva-comments-line.netliva-my-comment p { background: rgba(210,210,210,0.4); }
.netliva-comments-line.netliva-my-comment p:after { left: auto; right: -10px; border-color: transparent transparent transparent rgba(210,210,210,0.4); border-width: 7px 0 2px 10px; top: auto; bottom: 5px; }
.netliva-comments-line.netliva-my-comment p > strong { display: none; }
.netliva-comments-line.netliva-my-comment > div { text-align:right; }

.netliva-comments-line .dropdown-toggle { right: 0; top: 0; position:absolute; overflow: visible; z-index: 2; height: 30px; width: 36px; display:none; }
.netliva-comments-line:hover .dropdown-toggle { display:block; }
.netliva-comments-line .dropdown-toggle:hover { opacity:1; }
.netliva-comments-line .dropdown-toggle:after { content:""; display: inline-block; width: 12px; height: 12px; padding:0; border-style: solid; border-width: 0 2px 2px 0; transform: rotate(45deg); position:absolute; border-color: #444; right: 10px; top: 2px; }
.netliva-comments-line .dropdown-toggle:before { content:""; background-image: linear-gradient(to bottom left, rgba(255,255,255,.4) 20%, transparent 50%); right: 2px; top: 2px; width:75px; height:25px; position:absolute; transform-origin:top right; border-radius: 4px; }

.netliva-comments-line .dropdown-menu a { color: #222; font-size: 0.9rem; padding: 0.2rem 0.8rem; }
.netliva-comments-line small { opacity: 0.6 }




/** Katılımcılar **/

.netliva-comment-collaborators-area,
.netliva-comment-collaborators-area ul {
	align-items: center;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 5px;
}
.netliva-comment-collaborators-area ul {
	flex-wrap: wrap;
}
.netliva-comment-collaborators-area ul li {
	position: relative;
	height: 26px;
	width: 26px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border-radius: 50%;

}
.netliva-comment-collaborators-area ul li i {
	font-style: normal;
	font-size: 0.9rem;
}
.netliva-comment-collaborators-area .collaborator_avatar {
	height: 24px;
	width: 24px;
	object-fit: cover;
	border-radius: 50%;
}
.netliva-comment-collaborators-area svg.collaborator_avatar
{
	padding: 3px;
}
.netliva-comment-collaborators-area ul li span {
	position: absolute; display: none;
	left: -50%;
	bottom: -15px;
	font-size: 0.6rem;
	white-space: nowrap; border-radius: 3px; color: white;
	background: #222; padding:3px 8px; z-index: 9;
}
.netliva-comment-collaborators-area ul li:hover span {
	display: block;
}


.netliva-comment-collaborators-area { padding: 5px;}
.netliva-comment-collaborators-area > span {
	white-space: nowrap;

}
.netliva-comment-collaborators-area > button {
	background: none;
	border: none;
	font-size: 1.6rem;
	line-height: 1; padding-top: 3px;
}
.netliva-comment-collaborators-area > button:hover {
	opacity: .6;
}
.netliva-comment-collaborators-area .ntlv-svg-icon path,
.netliva-comment-collaborators-area .ntlv-svg-icon polygon,
.netliva-comment-collaborators-area .ntlv-svg-icon rect {
	fill: #333;
}

.netliva-comment-collaborators-area .ntlv-svg-icon circle {
	stroke: #333;
	stroke-width: 1;
}



.netliva-comment-collaborators-remove-me-btn {
	margin-left: auto;
	font-size: 0.9rem !important;
}
.netliva-comment-collaborators-remove-me-btn svg {
	font-size: 1.4rem;
	vertical-align: middle;
}


/*** Katılımcı Seçimi ***/
li.select_user_for_add {
	width: auto !important;
	position:relative;
	border-radius: 0 !important;
}

.select_user_for_add ul {
	background: white;
	max-height: 200px; border-radius: 3px; box-shadow: 0 0 5px rgba(0,0,0,0.1) ;
	overflow: auto;
	display: block;
	width: auto;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 40px;
	left: 0;
}
.select_user_for_add ul li {
	width: auto; background: transparent !important;
	text-align: left !important; cursor: pointer;
	display: block; white-space: nowrap;
	padding: 5px 15px; border-radius: 0;
	margin: 0; height: auto;
}
.select_user_for_add ul li i {
	width: 24px; height: 24px;  border-radius: 50%;
	background: gray; display: inline-flex; align-items: center; justify-content:center; text-align: center;
}
.select_user_for_add ul li span {
	display: inline-block;
	position: relative;
	right: auto;
	left: auto;
	bottom: auto;
	top: auto;
	background: transparent;
	color: #222; font-size: 1rem;
}
.netliva-comment-collaborators-area ul li.select_user_for_add:hover li span  {
	display: inline-block !important;
}
.netliva-comment-collaborators-area ul li.select_user_for_add:hover li:hover {
	background-color: #87CFFF !important;
}
.select_user_for_add input {
	background: white;
	padding: 5px;
	margin: 0;
	border: 1px solid #999;
}


.netliva_collaborator_search_area {
	display: flex;
}
.netliva_collaborator_search_close_btn {
	background: transparent;
	border:none;
	padding:5px;
}
.netliva_collaborator_search_close_btn .ntlv-svg-icon {
	font-size: 1.4rem;
}
