
.netliva-comments-area {
	background-color: #e5ddd5;
	padding: 20px;
	position: relative;
	border-radius:3px;
}
.netliva-comments-area > * {
	z-index: 2 !important;
	position: relative;
}
.netliva-comments-area > ul {
	z-index: 3 !important;
	position: relative;
}
.netliva-comments-area:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: block;
	background: url(chatbg.png);
	opacity: .06;
	z-index: 1;
}

.netliva-comment-input-area {
	background: #efeff0;
	margin: 0 -20px -20px;
	padding: 15px;
	border-radius:3px;
}

.netliva-send-comment-btn,
.netliva-cancel-comment-btn
{
	background:transparent;
	color:gray;
	font-size:23px;
	height:auto;
	border:0;
	margin:0;
	padding:0
}
.netliva-comment-input:focus + .netliva-send-comment-btn,
.netliva-comment-input:focus + * + .netliva-cancel-comment-btn
{
	padding:5px 7px 5px 5px;
	width:48px
}
.netliva-comments-line p  {
	font-size: 12px;
	max-width: 95%;
}
.netliva-comments-line.netliva-my-comment p {

	background: #dcf8c6;
}
.netliva-comments-line.netliva-my-comment p::after {
	border-color: transparent transparent transparent #dcf8c6 !important;
}
.netliva-comments-line p::after {
	border-color: transparent white transparent transparent !important;
}
.netliva-comments-line p {
	background-color: white;
	box-shadow: 0 1px .5px rgba(0,0,0,.13);
}
.netliva-a-comment .dropdown {
	position: absolute;
	right: 0;
}
.netliva-a-comment .dropdown-menu {
	right: 3px;
	left: auto;
	top: 18px;
}
.netliva-a-comment .dropdown-menu a {
	display: block;
}
.netliva-a-comment .dropdown-menu:after {
	right: 7px;
	left: auto;
}
