.netliva-comments-area { color: #111; padding-bottom: 10px;  }
.ntlv-svg-icon { width: 1em; height: 1em; }
.ntlv-svg-icon path, .ntlv-svg-icon polygon, .ntlv-svg-icon rect { fill: #4691f6; }
.ntlv-svg-icon circle { stroke: #4691f6; stroke-width: 1; }

textarea.netliva-comment-input { margin-right: -30px; z-index: 2; transition: all 500ms; font-size: 0.8rem; height: 35px; overflow: hidden; }
.comment-input-container:hover .netliva-comment-input, .netliva-comment-input:focus { margin-right: 5px; }
.netliva-send-comment-btn { margin: 3px 10px 3px 0; transition: all 500ms; }
.comment-input-container:hover .netliva-comment-input + .netliva-send-comment-btn + , .netliva-comment-input:focus + .netliva-send-comment-btn { margin: 0; }

.netliva-comment-list {margin-bottom: 1rem;}

/** Eski Yorum Yükle **/
.netliva-show-old-comments-btn:hover { color: inherit; background-color: rgba(200,200,200,.3); }
.netliva-show-old-comments-btn { font-size: 0.7rem; color: inherit; width: 100%; margin-bottom: 6px; }

/** LOADING **/
.netliva-lds-ring { display: inline-block; position: relative; width: 46px; height: 32px; }
.netliva-lds-ring div { box-sizing: border-box; display: block; position: absolute; width: 24px; height: 24px; margin: 4px; border: 4px solid #ccc; border-radius: 50%; animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; border-color: #ccc transparent transparent transparent; }
.netliva-lds-ring div:nth-child(1) { animation-delay: -0.45s; }
.netliva-lds-ring div:nth-child(2) { animation-delay: -0.3s; }
.netliva-lds-ring div:nth-child(3) { animation-delay: -0.15s; }
@keyframes lds-ring { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }


/** LOADING **/
.netliva-lds-blocks { display: inline-block; position: relative; width: 80px; height: 80px; }
.netliva-lds-blocks div { display: inline-block; position: absolute; left: 8px; width: 16px; background: #ccc; animation: netliva-lds-blocks 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }
.netliva-lds-blocks div:nth-child(1) { left: 8px; animation-delay: -0.24s; }
.netliva-lds-blocks div:nth-child(2) { left: 32px; animation-delay: -0.12s; }
.netliva-lds-blocks div:nth-child(3) { left: 56px; animation-delay: 0s; }
@keyframes netliva-lds-blocks { 0% { top: 8px; height: 64px; } 50%, 100% { top: 24px; height: 32px; }
}

/** Konuşma Balonu **/
.netliva-comments-area ul + .d-flex > .netliva-lds-ring { position: absolute; z-index: 3; }
.netliva-comments-area ul .netliva-lds-blocks { transform: scale(.5); margin: -30px auto; }

.netliva-comments-line { margin-bottom: 5px; }
.netliva-comments-line .netliva-comment-history { cursor: pointer; }
.netliva-comments-line div.nc-bubble { background: rgba(30,30,30,0.2); padding: 5px 8px; border-radius: 5px; position: relative; font-size: 0.75rem; width: auto; display: inline-block; text-align: left; margin: 0; color:#222; }
.netliva-comments-line div.nc-bubble:after { content: ""; position: absolute; border-width: 2px 10px 7px 0; border-color: transparent rgba(30,30,30,0.2) transparent transparent; border-style: solid; left: -10px; top: 5px; }
.netliva-comments-line div.nc-bubble > strong { display: block; }
.netliva-comments-line.netliva-my-comment div.nc-bubble { background: rgba(210,210,210,0.4); }
.netliva-comments-line.netliva-my-comment div.nc-bubble:after { left: auto; right: -10px; border-color: transparent transparent transparent rgba(210,210,210,0.4); border-width: 7px 0 2px 10px; top: auto; bottom: 5px; }
.netliva-comments-line.netliva-my-comment div.nc-bubble > strong { display: none; }
.netliva-comments-line.netliva-my-comment > div { text-align:right; }

.netliva-comments-line .dropdown-toggle { right: 0; top: 0; position:absolute; overflow: visible; z-index: 2; height: 30px; width: 36px; display:none; }
.netliva-comments-line:hover .dropdown-toggle { display:block; }
.netliva-comments-line .dropdown-toggle:hover { opacity:1; }
.netliva-comments-line .dropdown-toggle:after { content:""; display: inline-block; width: 12px; height: 12px; padding:0; border-style: solid; border-width: 0 2px 2px 0; transform: rotate(45deg); position:absolute; border-color: #444; right: 10px; top: 2px; }
.netliva-comments-line .dropdown-toggle:before { content:""; background-image: linear-gradient(to bottom left, rgba(255,255,255,.4) 20%, transparent 50%); right: 2px; top: 2px; width:75px; height:25px; position:absolute; transform-origin:top right; border-radius: 4px; }

.netliva-comments-line .dropdown-menu a { color: #222; font-size: 0.9rem; padding: 0.2rem 0.8rem; }
.netliva-comments-line small { opacity: 0.6 }


/*** Ön tanımlı cevaplar ***/
.predefined-texts-area {position: absolute;bottom: 38px;z-index: 5;background: white;list-style: none;margin:0;padding:3px;border: 1px solid #ddd;border-radius: 3px;display: none;}
.predefined-texts-area li {padding: 4px 10px;min-width: 150px;border-radius: 2px;cursor: pointer;}
.predefined-texts-area li:hover {background: #65a6ff;}
.comment-input-container {position: relative;}

/*** Yorum eklenmediyse, ufak modda güzüksün ***/
.netliva-comment-list, .netliva-comment-input-area, .netliva-comment-collaborators-area, .netliva-comments-area.no-comment, .netliva-comment-footer-area { transition: all 500ms; }
.netliva-comments-area.no-comment:not(.comment-input-focus) { padding:0; }
.netliva-comments-area.no-comment:not(.comment-input-focus) .netliva-comment-collaborators-area { margin: 0; display: none; height:0; }
.netliva-comments-area.no-comment:not(.comment-input-focus) .netliva-comment-footer-area { margin: 0; }
.netliva-comments-area.no-comment:not(.comment-input-focus) .netliva-comment-list { display: none; height: 0; }



/*** Yanıt Css ***/
.netliva-answer-comment {display: block;font-size: 0.8rem;background: rgba(30,30,30,0.1);padding: 5px 6px;border-radius: 3px;border-left: 3px solid #3498db; max-height: 70px;overflow: hidden;}
.netliva-answer-comment .ntlv_user_name {display: block;}
.netliva-answer-comment em {font-size: 0.6rem;}

.netliva-answer-comment {
	background: radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,0.3) 30%, transparent) no-repeat center bottom rgba(30,30,30,0.1);
	background-size: 100% 0;
	transition: 300ms all;
}
.netliva-answer-comment.answer-overflow {
	background-size: 100% 0;
	cursor: pointer;
}
.netliva-answer-comment.answer-overflow:hover {max-height: 75px; background-size: 100% 15px; }

/** Katılımcılar **/

.netliva-comment-collaborators-area,
.netliva-comment-collaborators-area ul {
	align-items: center;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 5px;
}
.netliva-comment-collaborators-area ul {
	flex-wrap: wrap;
}
.netliva-comment-collaborators-area ul li {
	position: relative;
	height: 26px;
	width: 26px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border-radius: 50%;

}
.netliva-comment-collaborators-area ul li i {
	font-style: normal;
	font-size: 0.9rem;
}
.netliva-comment-collaborators-area .collaborator_avatar {
	height: 24px;
	width: 24px;
	object-fit: cover;
	border-radius: 50%;
}
.netliva-comment-collaborators-area svg.collaborator_avatar
{
	padding: 3px;
}
.netliva-comment-collaborators-area ul li span {
	position: absolute; display: none;
	left: -50%;
	bottom: -15px;
	font-size: 0.6rem;
	white-space: nowrap; border-radius: 3px; color: white;
	background: #222; padding:3px 8px; z-index: 9;
}
.netliva-comment-collaborators-area ul li:hover span {
	display: block;
}


.netliva-comment-collaborators-area { margin: 5px 0 -5px 0; }
.netliva-comment-collaborators-area > span {
	white-space: nowrap;

}
.netliva-comment-collaborators-area > button {
	background: none;
	border: none;
	font-size: 1.6rem;
	line-height: 1; padding-top: 3px;
}
.netliva-comment-collaborators-area > button:hover {
	opacity: .6;
}
.netliva-comment-collaborators-area .ntlv-svg-icon path,
.netliva-comment-collaborators-area .ntlv-svg-icon polygon,
.netliva-comment-collaborators-area .ntlv-svg-icon rect {
	fill: #333;
}

.netliva-comment-collaborators-area .ntlv-svg-icon circle {
	stroke: #333;
	stroke-width: 1;
}



.netliva-comment-collaborators-remove-me-btn {
	margin-left: auto;
	font-size: 0.9rem !important;
}
.netliva-comment-collaborators-remove-me-btn svg {
	font-size: 1.4rem;
	vertical-align: middle;
}


/*** Katılımcı Seçimi ***/
li.select_user_for_add {
	width: auto !important;
	position:relative;
	border-radius: 0 !important;
}

.select_user_for_add ul {
	background: white;
	max-height: 200px; border-radius: 3px; box-shadow: 0 0 5px rgba(0,0,0,0.1) ;
	overflow: auto;
	display: block;
	width: auto;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 40px;
	left: 0;
	z-index: 5;
}
.select_user_for_add ul li {
	width: auto; background: transparent !important;
	text-align: left !important; cursor: pointer;
	display: block; white-space: nowrap;
	padding: 5px 15px; border-radius: 0;
	margin: 0; height: auto;
}
.select_user_for_add ul li i {
	width: 24px; height: 24px;  border-radius: 50%;
	background: gray; display: inline-flex; align-items: center; justify-content:center; text-align: center;
}
.select_user_for_add ul li span {
	display: inline-block;
	position: relative;
	right: auto;
	left: auto;
	bottom: auto;
	top: auto;
	background: transparent;
	color: #222; font-size: 1rem;
}
.netliva-comment-collaborators-area ul li.select_user_for_add:hover li span  {
	display: inline-block !important;
}
.netliva-comment-collaborators-area ul li.select_user_for_add:hover li:hover {
	background-color: #87CFFF !important;
}
.select_user_for_add input {
	background: white;
	padding: 5px;
	margin: 0;
	border: 1px solid #999;
}


.netliva_collaborator_search_area {
	display: flex;
}
.netliva_collaborator_search_close_btn {
	background: transparent;
	border:none;
	padding:5px;
}
.netliva_collaborator_search_close_btn .ntlv-svg-icon {
	font-size: 1.4rem;
}




/* ============= reactions ================ */
.reaction_container { display: flex; justify-content: space-between; margin-top: 10px; }

.nc-reactions-button { display: none; font-weight: bold; position: absolute; cursor: pointer; white-space: nowrap; right: -26px; top: 50%; margin-top: -8px; }
.nc-reactions-button:hover { text-decoration: underline; }
.nc-reactions-button-emo { display: inline-block; margin: 0 6px -3px 0; width: 16px; height: 16px; }
.nc-reactions-button-text { display: none; }
.netliva-my-comment .nc-reactions-button { right: auto; left: -19px; }
.netliva-comments-line:hover .nc-reactions-button { display: inline-block; }
.netliva-comment-with-reactions .netliva-a-comment .nc-bubble { padding-bottom: 19px; }

.nc-reactions-box { height: 54px; width: auto; padding:3px 5px; position: absolute; top: -54px; left: 0px; box-shadow: 1px 1px 2px #cccccc, -1px 0 2px #eeeeee; border-radius: 44px 44px; display: none; background-color: white; z-index: 3; }
.nc-reactions-button:hover .nc-reactions-box { display: flex; }

.nc-reaction { font-size: 36px; list-style-type: none; cursor: pointer; display: inline-block; width: 38px; margin-top:0; height: 48px; transform: scale(0.8, 0.8); transition: opacity .5s ease-in-out 1s, transform .07s ease-in-out 0s, margin .07s ease-in-out 0s; background-repeat: no-repeat; background-size: cover; background-position: center center; }
.nc-reaction:hover { transform: scale(1, 1); margin-top: -10px;	}
.nc-reaction::before { font-size: 11px; content: attr(data-reaction) !important; display: inline-block; color: #ffffff; text-align: center; line-height: 17px;  width: 160%; left: -40%; height: 17px; margin-left: 10%; background-color: rgba(0, 0, 0, 0.6); border-radius: 20px; position: absolute; top: -25px; opacity: 0; transition: opacity .2s ease-in-out 0s; }
.nc-reaction:hover::before { opacity: 1 }

.nc-reactions-button:hover .nc-reaction { opacity: 1; animation-name: reaction_delay; animation-duration: .5s; }

.nc-reactions-stat { cursor: pointer; }
.nc-reactions-stat:hover { opacity: .8; }

.nc-reactions-emo { margin-right:10px; }
.nc-reactions-emo > span{ display: inline-block; margin: 0 -3px -3px 0px; width: 16px; height: 16px; border: 1px solid #EEE; border-radius: 50%; }
.nc-reactions-details{ font-size:12px; }


.nc-reactions-stat ul {list-style: none;margin: 0;background: #fffffd;position: absolute;right:9px;bottom: -3px;padding: 3px 5px;border-radius: 20px;box-shadow: 0 1px .5px rgba(0,0,0,.13);z-index: 1;}
.nc-reactions-stat ul li {margin-right: -5px;border-radius: 50%;padding: 1px;width: 16px;height: 15px;display: inline-flex;align-content: center; align-items: center;text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;}
.nc-reactions-stat ul li.total_info {font-size: 10px;margin: 0 0px 0 4px;width: auto;}

.nc-reactions-button-text .netliva-lds-ring { transform: scale(0.6);margin: -11px -3px; }

@keyframes reaction_delay {
	0% { transform: scale(0.7, 0.7); margin-top: 50px; }
	48% { transform: scale(0.9, 0.9); margin-top: -5px; }
	100% { transform: scale(0.8, 0.8); margin-top: 0; }
}
